@import "vars";

.breadcrumbs {
  margin-bottom: 40px;

  &__list {
    margin: 0;
    padding: 0;
  }

  &__item {
    position: relative;
    display: inline-block;
    padding-right: 16px;
    margin-right: 10px;
    font-size: 15px;
    line-height: 18px;
    color: #c4c4c4;

    &::after {
      position: absolute;
      right: 0;
      top: 3px;
      width: 6px;
      height: 10px;
      content: "";
      background-image: url("../images/breadcrumb-back.svg");
    }

    &__item a {
      font: inherit;
      color: inherit;
    }

    &:last-child::after {
      display: none;
    }
  }
}
