@import "vars";

.cart {
  position: relative;

  &__informer {
    position: absolute;
    bottom: -15px;
    right: -14px;
    font-weight: 500;
    font-size: 10px;
    line-height: 20px;
    text-align: center;
    color: $light;
    width: 20px;
    height: 20px;
    background-color: $accent;
    border-radius: 50%;
  }
}
