$main-font-color: #2f3035;
$price-old-color: #c4c4c4;
$accent: #1c62cd;
$light: #fff;
$cat-bg: #f0f0f4;
$placeholder-color: #656464;
$border-color: #cdcdcd;
$dark: #000;
$footer-bottom-link-color: #48494d;
$range-color: #e0e0e0;
$brand-search-color: #bdbec2;
$select-border: #d7d9df;

$main-font: "SFProDisplay", sans-serif;
$secondary-font: "Barlow", sans-serif;
